* {
  box-sizing: border-box;
  margin: 0;
  font-size: 16px;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  background-color: aqua;
}

.main-text {
  display: flex;
  padding: 2rem;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: aqua;
  background-image: url("../img/fly.gif"), url("../img/sky.png");
  background-repeat: repeat-x, no-repeat;
  background-position: center, center;
  background-size: 80rem, cover;
  /* background: url("../img/sky.png") no-repeat center; */
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

.ex1 {
  border: 4px black dashed;
  margin: 10px;
  padding: 3.5rem;
  background-image: url(../img/sky.png);
  background-color: pink;
  background-size: 30px;
  background-repeat: no-repeat;
  background-clip: border-box;
}

.ex2 {
  border: 4px black dashed;
  margin: 10px;
  padding: 3.5rem;
  background-image: url(../img/sky.png);
  background-color: pink;
  background-size: 130px;
  background-repeat: no-repeat;
  background-clip: content-box;
}

.ex3 {
  border: 4px black dashed;
  margin: 10px;
  padding: 3.5rem;
  background-image: url(../img/sky.png);
  background-color: pink;
  background-size: 130px;
  background-repeat: no-repeat;
  background-clip: padding-box;
}

.ex4 {
  border: 4px black dashed;
  margin: 10px;
  padding: 3.5rem;
  color: transparent;
  background-image: url(../img/sky.png);
  -webkit-background-clip: text;
  background-clip: text;
}

.ex4 h2 {
  font-size: 4rem;
  font-weight: bolder;
}

.ex5 {
  border: 4px black dashed;
  margin: 10px;
  padding: 3.5rem;
  background-image: url(../img/bird.png);
  background-size: 55rem;
  background-position: center;
  background-attachment: fixed;
  background-color: pink;
}
