body {
  font-family: sans-serif;
  box-sizing: border-box;
}

a {
  color: #222;
}

li a {
  text-decoration: none;
  color: rgb(222, 222, 228);
  margin-left: 10px;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 400px;
  float: left;
  margin: 0 20px 10px 0;
}

#face img {
  float: right;
  margin: 0 0 10px 20px;
}

.site-holder {
  max-width: 700px;
  margin: 0 auto;
}

nav {
  background-color: rgb(100, 128, 151);
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  list-style-type: none;
  display: inline-block;
}

nav li {
  display: inline;
}

section {
  max-width: 100%;
  margin-bottom: 50px;
  display: inline-flex;
  margin-top: 20px;
}

figure {
  margin: 20px 0;
}

aside {
  width: 20%;
  padding: 20px;
  font-size: 0.8rem;
  margin: 25px 10px;
  color: #555;
}

aside h3 {
  text-decoration: underline;
  font-weight: normal;
  margin: 0 0 10px;
}

article h2 {
  margin-top: 0;
  text-decoration: underline;
}

footer {
  background-color: rgb(100, 128, 151);
  padding: 5px;
  text-align: right;
}
