/* Typography */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  --color-font: rgb(214, 65, 147);
}

div {
  font-size: 20px;
  max-width: 650px;
  margin: 0 auto;
  padding: 1em 1em;
}

h1 {
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 2rem;
  padding-bottom: 1em;
  grid-column: 1 / 2;
  text-align: right;
  color: var(--color-font);
  writing-mode: vertical-lr;
  text-orientation: upright;
  text-shadow: 2px 2px 2px orange, 3px 3px 5px pink, 4px 2px gray;
}

p {
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
  line-height: 1.8rem;
  text-transform: uppercase;
  text-align: justify;
  word-break: keep-all;
  word-spacing: 1em;
  text-indent: 2em;
}
